:root {
  font-size: 0.65vw;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: url('../blocks/background.jpg') no-repeat center/cover fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editor {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 10;
}

#editor button {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.6rem;
}

#editor button:hover {
  background-color: #1976D2;
}

#start-screen {
  width: 80vw;
  max-width: 70rem;
  padding: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  color: #444;
}

.rules {
  text-align: left;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.rules h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.rules ol {
  padding-left: 2rem;
  line-height: 1.8;
  font-size: 1.2rem;
  color: #333;
}

.screenshot {
  display: block;
  margin: 2rem auto 0 auto;
  width: 80%;
  max-width: 70rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #ccc;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

#start-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 2rem;
  width: 40%;
  max-width: 30rem;
  background-color: #4CAF50;
  color: white;
}

#start-button:hover {
  background-color: #43a047;
}
